RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=pulsestream
RABBITMQ_PASSWORD=pulsestream
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pulsestream
POSTGRES_USER=pulsestream
POSTGRES_PASSWORD=pulsestream
